.album-container {
  width: 100%;
}
.album-container > :nth-child(2) {
  margin: 100px 0px;
}

.filter-bar {
  position: fixed;
  width: calc(100% - 300px);
  padding: 10px 0px;
  background-color: #00000000;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}
.filter-bar > ul {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(auto-fill, 100px);
  justify-content: space-around;
  gap: 10px;
  padding: 0px;
}
.filter-bar li {
  text-align: center;
  cursor: pointer;
  color: #f5f5f5;
  transition: 0.5s;
}
.filter-bar li:hover {
  color: #707070;
  transition: 0.5s;
}

.pictures-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 40px 20px;
  margin: 20px 0px;
  padding: 0px 20px;
  overflow: auto;
}

.picture-container {
  width: 100% !important;
  height: 100%;
  margin: auto;
  animation-duration: 2s;
  opacity: 0;
  display: flex;
  align-items: center;
}

.picture-album {
  width: 100%;
  border-radius: 10px;
}

.show {
  opacity: 1;
  animation: appear 1s;
}
.hide {
  opacity: 0;
  animation: vanish 1s;
}

@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes vanish {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@media screen and (max-width: 700px) {
  .filter-bar {
    width: 100% !important;
  }
}

@media screen and (max-width: 800px) {
  .pictures-grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 900px) {
  .filter-bar {
    width: calc(100% - 220px);
  }
}
@media screen and (min-width: 1000px) {
  .pictures-grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media screen and (min-width: 1366px) {
  .pictures-grid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

@media screen and (min-width: 1920px) {
  .pictures-grid {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
}
