.album-container {
  width: 100%;
  min-height: 100vh;
  background-color: #000;
  /*  overflow-x: hidden; */
}
.album-container:nth-child(2) h1 {
  margin-top: 100px;
}

.filter-bar {
  position: fixed;
  width: 75vw;
  height: 70px;
  background-color: #000;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  z-index: 1;
}
.filter-bar > ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-right: 10px;
  padding: 0px;
}
.filter-bar li {
  margin: 0px 20px;
  cursor: pointer;
  color: #f5f5f5;
  transition: 0.5s;
}
.filter-bar li:hover {
  color: #707070;
  transition: 0.5s;
}

.pictures-grid {
  display: grid;
  grid-gap: 40px 20px;
  margin: 20px 0px;
  padding: 0px 20px;
  overflow: auto;
}

.picture-container {
  width: 300px;
  height: 100%;
  margin: auto;
  animation-duration: 2s;
  opacity: 0;
  display: flex;
  align-items: center;
}

.picture-album {
  width: 100%;
  border-radius: 10px;
}

.show {
  opacity: 1;
  animation: appear 1s;
}
.hide {
  opacity: 0;
  animation: vanish 1s;
}

@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes vanish {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@media screen and (min-width: 800px) {
  .pictures-grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (min-width: 1360px) {
  .pictures-grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (min-width: 1920px) {
  .pictures-grid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
