.home-container {
  background-color: #181818;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.home-presentation {
  position: absolute;
  content: "";
  background-color: #18181888;
  width: 80%;
  height: 100vh;
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.home-presentation > div {
  max-width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.presentation-title {
  color: #f8f8f2;
  text-align: center;
}

.presentation-subTitle {
  text-align: center;
  color: #f5f5f5;
}

.home-presentation button {
  color: #f5f5f5;
  font-size: 18px;
  padding: 10px 20px;
  border-radius: 8px;
  background-color: #282a36;
  border: none;
  max-width: 200px;
  align-self: center;
  transition: 0.5s;
}

.home-presentation button:hover {
  background-color: #44475a;
  transition: 0.5s;
  cursor: pointer;
}
