.card-service-container {
  width: 100%;
  height: 500px;
  background-color: #000;
  display: flex;
  opacity: 0;
  justify-content: space-between;
}

.card-service-container > div {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #000;
  margin: 0px 20px !important;
}

.card-service-image > div {
  position: absolute;
  height: 500px;
  width: calc(74vw / 2);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: inset 0 0 40px 70px #000;
}
.service-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.service-info img {
  display: none;
  position: relative;
  width: 100%;
  margin: 10px;
  border-radius: 10px;
  height: 200px;
  object-fit: cover;
}

.card-service-container p {
  text-align: center;
}

.card-hide {
  display: none;
}

.animate-growRight {
  animation: growRight 1.5s;
  opacity: 1;
}
.animate-growLeft {
  animation: growLeft 1.5s;
  opacity: 1;
}

@keyframes growRight {
  0% {
    transform: translateX(100vw);
  }
  100% {
    transform: translateX(0vw);
  }
}
@keyframes growLeft {
  0% {
    transform: translateX(-100vw);
  }
  100% {
    transform: translateX(0vw);
  }
}
@media only screen and (max-width: 900px) {
  .card-service-container {
    flex-direction: column !important;
    height: auto;
  }

  .service-info img {
    display: flex;
  }

  .card-service-image > div {
    display: none;
  }
}
